.button-container-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.button-days-coins {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: none;
    border: 1px solid gold;
    border-radius: 3px;
}

.button-days-coins:hover { 
    background-color: rgb(238, 204, 16);
    border: 1px solid white;
    color: black;
}