.navbar-container { 
    background-color: #101113;
    margin: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logo-coin-container { 
    margin-right: auto;
    margin-left: 50px;
    color: gold;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-links-container { 
    text-decoration: #101113;
    margin-right: 35px;
}

.navbar-links {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #101113;
}

.navbar-links:hover {
    color: goldenrod;
    /* box-shadow: 0px 0px 100px 0px gold; */
    transition: 1s ease-in-out;
    background: rgba(grey, grey, grey, 0.9);
    cursor: pointer;
    box-sizing: border-box;
    
}

.user-title-navbar {
    color: crimson;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.length-items-in-watch-list-2 { 
    color: rgb(255, 162, 0);
    background-color: rgba(226, 103, 103, 0.2);
    position: relative;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    right: 5px;
    bottom: 8px;
    margin: 0;
}